/* Normalize styles */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

main {
  display: block; }

ol,
ul {
  list-style: none; }

b,
strong {
  font-weight: bold; }

*,
:after,
:before {
  box-sizing: border-box; }

img {
  max-width: 100%;
  border-style: none; }

img[width="0"][height="0"] {
  display: none; }

a {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  transition: all .3s linear; }

a:hover,
a:focus {
  text-decoration: none; }

input,
select,
textarea,
button {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

textarea {
  overflow: auto; }

textarea::-webkit-scrollbar {
  width: 0; }

::-ms-clear {
  display: none; }

input {
  overflow: visible; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  overflow: visible; }

button,
select {
  text-transform: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

select::-ms-expand {
  display: none; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none; }

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-radius: 0;
  scrollbar-width: none;
  -ms-overflow-style: none; }

label {
  margin: 0; }

input,
button,
select {
  border: none;
  outline: none; }

input {
  border-radius: 0; }

body .mobile-visible {
  display: none; }

@media (max-width: 1000px) {
  body .mobile-visible {
    display: block; }
  body .desktop-visible {
    display: none; } }

.no-scrolling {
  overflow: hidden; }

.link {
  text-decoration: underline; }

.link:hover {
  text-decoration: none; }

.invert-link {
  text-decoration: none; }

.invert-link:hover {
  text-decoration: underline; }

/*EXAMPLE SCROLLBAR ---------------------- */
body .scroll-element,
body .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1; }

body .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

body .scroll-element.scroll-x {
  bottom: 1px;
  height: 8px;
  left: 0;
  width: 100%; }

.collection-list.scroll-wrapper > .scroll-content {
  padding-bottom: 10px; }

body .collection-list .scroll-element.scroll-y {
  display: none; }

body .scroll-element.scroll-x .scroll-element_track {
  top: 0;
  width: 100%;
  height: 8px; }

body .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 6px; }

body .scroll-element .scroll-element_outer {
  overflow: visible; }

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
  border-radius: 0; }

body .scroll-element .scroll-element_track {
  background: #073592;
  left: 0;
  width: 2px; }

body .lk-block .scroll-element .scroll-element_track {
  background: #009DD7; }

body .dark .scroll-element .scroll-element_track {
  background: #FFF9BD; }

body .scroll-element .scroll-bar {
  height: auto;
  min-height: 10px;
  max-height: 150px;
  width: 8px;
  background: #073592;
  box-shadow: none;
  left: -3px;
  position: relative; }

body .lk-block .scroll-element .scroll-bar {
  background: #009DD7; }

body .dark .scroll-element .scroll-bar {
  background: #FFF9BD; }

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px; }

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px; }

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px; }

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px; }

/**/

@font-face {
  font-family: 'SansRoundedLightC';
  src: url("../fonts//SansRoundedLightC.eot");
  src: url("../fonts//SansRoundedLightC.eot?#iefix") format("embedded-opentype"), url("../fonts//SansRoundedLightC.woff2") format("woff2"), url("../fonts//SansRoundedLightC.woff") format("woff"), url("../fonts//SansRoundedLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SansRoundedC';
  src: url("../fonts//SansRoundedC.eot");
  src: url("../fonts//SansRoundedC.eot?#iefix") format("embedded-opentype"), url("../fonts//SansRoundedC.woff2") format("woff2"), url("../fonts//SansRoundedC.woff") format("woff"), url("../fonts//SansRoundedC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RotondaC';
  src: url("../fonts/RotondaC-Bold.eot");
  src: url("../fonts/RotondaC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RotondaC-Bold.woff2") format("woff2"), url("../fonts/RotondaC-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'RotondaC';
  src: url("../fonts/RotondaC.eot");
  src: url("../fonts/RotondaC.eot?#iefix") format("embedded-opentype"), url("../fonts/RotondaC.woff2") format("woff2"), url("../fonts/RotondaC.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: RotondaC,  Helvetica, sans-serif;
  font-weight: bold; }

.lettering-fix {
  letter-spacing: -1px; }

.inner {
  max-width: 1206px;
  margin: 0 auto; }

.header {
  position: relative;
  line-height: 0;
  font-size: 0;
  z-index: 25; }

.part-1, .part-2, .part-3, .part-4, .part-5 {
  position: relative; }

.part-1 {
  background: url(../img/bg-science.png) no-repeat center;
  background-size: cover;
  height: 615px;
  overflow: hidden; }
  .part-1.cookie {
    height: auto !important; }

.part-2 {
  margin-top: -50px;
  padding: 100px;
  height: 574px; }
  .part-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 574px;
    background: url(../img/bg-blue-lines.png) center no-repeat;
    background-size: 100% 100%;
    z-index: 11; }

.part-4 {
  margin-top: -60px; }
  .part-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 822px;
    height: 100%;
    background: url(../img/bg-science-rounded.png) center no-repeat;
    background-size: 100% 100%;
    z-index: 11; }

.part-2-content {
  position: relative;
  z-index: 15; }

.head-nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 38%; }
  .head-nav a {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 25px;
    color: #fff; }

.brand {
  position: absolute;
  left: 0;
  top: 0; }

.brand-logo {
  width: 192px;
  height: 112px; }

.btn {
  display: inline-block;
  border-radius: 19px;
  font-size: 24px;
  line-height: 24px;
  text-align: center; }
  .btn.small {
    padding: 4px 22px; }
  .btn.big {
    padding: 18px 0; }
  .btn.normal {
    background: #FF7F30;
    box-shadow: 4px 4px 0px #E55303; }
  .btn.dark {
    background: #E55303;
    box-shadow: 4px 4px 0px #803106; }
  .btn:hover {
    box-shadow: none; }
  .btn.cookie {
    color: #fff;
    transition: all .3s linear;
    padding: 18px; }

.cloud-top, .cloud-bot {
  position: absolute;
  z-index: 1; }

.cloud-top {
  top: -60px;
  right: -10px; }

.cloud-bot {
  bottom: 0;
  left: -10px; }

.big-bear {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 632px;
  -webkit-filter: drop-shadow(0px 0px 64px rgba(255, 255, 255, 0.9));
  filter: drop-shadow(0px 0px 64px rgba(255, 255, 255, 0.9)); }

.inner-part-1 {
  height: 100%;
  position: relative; }

.txt-mid-blue {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #073592; }

.cloud-welcome {
  z-index: 9;
  width: 765px;
  height: 371px;
  background: url(../img/cloud-talk-big-text.png) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 455px; }

.welcome-buttons {
  position: absolute;
  top: 480px;
  left: 680px;
  z-index: 20; }
  .welcome-buttons .btn {
    color: #fff;
    width: 226px;
    margin-right: 23px; }
    .welcome-buttons .btn:last-of-type {
      margin-right: 0; }

.movie-desc {
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  line-height: 24px; }

.part-2-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%; }

.movie, .movie-desc {
  flex-basis: 50%; }

.movie {
  border-radius: 19px;
  overflow: hidden;
  box-shadow: 0px 0px 64px rgba(255, 255, 255, 0.3);
  width: 100%; }

.movie-desc {
  padding-left: 65px; }

.part-3 {
  margin-top: -50px;
  background: url(../img/bg-wood.png) center repeat-y;
  z-index: 5;
  padding: 120px 0; }

.heading {
  font-size: 42px;
  line-height: 45px;
  text-align: center;
  text-transform: capitalize;
  color: #073592; }

.slider .item, .nav-slides .item {
  border-radius: 19px;
  overflow: hidden; }

.main-slider {
  margin: 50px auto;
  -webkit-filter: drop-shadow(2px 4px 14px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(2px 4px 14px rgba(0, 0, 0, 0.35));
  cursor: pointer;
  width: 85%; }

.nav-slides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  .nav-slides .item {
    width: 186px;
    height: 102px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 19px;
    box-sizing: content-box;
    border: 6px solid transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s linear; }
    .nav-slides .item.active {
      border: 6px solid #FF7F30;
      -webkit-filter: drop-shadow(0px 4px 4px rgba(255, 127, 48, 0.25));
      filter: drop-shadow(0px 4px 4px rgba(255, 127, 48, 0.25)); }

.fake {
  height: 1px;
  pointer-events: none; }

.heading-border {
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 2px #073592, 4px -4px 2px #073592, -4px 4px 2px #073592, -4px -4px 2px #073592, 4px 0px 2px #073592, 0px 4px 2px #073592, -4px 0px 2px #073592, 0px -4px 2px #073592; }

.part-4 {
  padding: 50px 0; }

.part-4-content {
  position: relative;
  z-index: 15;
  padding: 80px 0; }

.master-say {
  display: flex;
  flex-direction: row;
  margin-top: 75px; }

.master-info {
  flex-basis: 31%; }

.master-speech {
  flex-basis: 69%;
  padding-left: 87px; }
  .master-speech p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #073592;
    padding-right: 42px;
    margin-bottom: 10px; }
    .master-speech p:last-of-type {
      margin-bottom: 0; }
  .master-speech .curs, .master-speech .strong {
    font-weight: bold; }
  .master-speech .speech-txt {
    max-height: 430px;
    padding-right: 8px; }

.photo-frame {
  background-image: url(../img/photo-frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(-6deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 321px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25)); }
  .photo-frame img {
    width: 100%;
    max-width: 100%;
    padding: 16px; }

.name, .rank {
  color: #073592;
  text-align: center; }

.name {
  font-size: 28px;
  line-height: 37px;
  margin: 35px 0 24px; }

.rank {
  font-size: 16px;
  line-height: 21px; }

.part-5 {
  background-color: #073592;
  color: #fff;
  font-weight: normal;
  margin-top: -50px;
  padding: 40px 0 36px; }
  .part-5.cookie {
    margin-top: 0 !important; }

.group-info {
  font-size: 10px;
  line-height: 12px;
  text-align: center; }

.footer-link {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  margin: 0 14px; }

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  position: relative; }

.leaf {
  position: absolute;
  z-index: 18;
  background-size: cover !important; }

.leaf-XL {
  background: url(../img/leaf-XL.svg) no-repeat center;
  width: 128px;
  height: 122px; }

.leaf-L {
  background: url(../img/leaf-L.svg) no-repeat center;
  width: 114px;
  height: 115px; }

.leaf-M {
  background: url(../img/leaf-M.svg) no-repeat center;
  width: 114px;
  height: 125px; }

.leaf-S {
  background: url(../img/leaf-S.svg) no-repeat center;
  width: 69px;
  height: 71px; }

.cookie-info {
  margin: 130px 0; }
  .cookie-info .heading-border {
    text-transform: uppercase; }

.cookie-content {
  border-radius: 20px;
  background-color: #ccf3f0;
  padding: 70px 45px;
  margin-top: 60px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #073592; }
  .cookie-content p {
    margin-bottom: 30px; }
  .cookie-content ul {
    list-style-type: disc;
    margin-bottom: 30px; }
  .cookie-content li {
    padding-left: 30px;
    margin: 0 0 30px 20px; }
    .cookie-content li:last-of-type {
      margin-bottom: 0; }
  .cookie-content img {
    margin-bottom: 30px; }

.photo-outer {
  padding: 0 5px; }

.leaf-desktop-1 {
  top: 60px;
  left: 82%; }

.leaf-desktop-2 {
  top: 86px;
  left: 41%; }

.leaf-desktop-3 {
  top: 362px;
  left: 89%; }

.leaf-desktop-4 {
  top: 83%;
  left: 80%;
  transform: rotate(144deg); }

.leaf-desktop-5 {
  top: 81%;
  left: 22%;
  transform: rotate(130deg); }

.leaf-desktop-6 {
  top: 90%;
  left: 10%;
  transform: rotate(130deg); }

.leaf-desktop-7 {
  left: 88%;
  top: -35px;
  transform: rotate(-25deg); }

.leaf-desktop-8 {
  left: 78%;
  top: 10px;
  transform: rotate(-29deg); }

.leaf-desktop-9 {
  left: 87%;
  top: 75px;
  transform: rotate(110deg); }

.leaf-desktop-10 {
  top: 10px;
  left: 10%;
  transform: rotate(150deg); }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.fake-block {
  height: 1px; }

.card-mobile {
  display: none; }

.youtube-wrapper {
  max-width: 100%;
  margin: 0 auto; }

.youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer; }

.youtube:hover .play-button {
  opacity: 1; }

.youtube img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7; }

.youtube .play-button {
  background: url(../img/button-play.svg) center no-repeat;
  width: 105px;
  height: 106px;
  z-index: 1;
  opacity: 0.8;
  top: calc(50% - 52px);
  left: calc(50% - 52px);
  transition: all .3s linear; }

.youtube img,
.youtube .play-button {
  cursor: pointer; }

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute; }

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

@media (max-width: 1366px) {
  .main-slider {
    padding: 0 45px; }
    .main-slider .slick-prev, .main-slider .slick-next {
      width: 16px;
      height: 26px; }
    .main-slider .slick-prev {
      left: 15px; }
    .main-slider .slick-next {
      right: 15px; }
  .part-2::before, .part-4::before {
    background-size: cover; } }

@media (max-width: 1270px) {
  .master-info {
    padding-left: 25px; }
  .big-bear {
    width: 490px; }
  .cloud-welcome {
    top: 150px;
    left: 315px; }
  .welcome-buttons {
    left: 520px;
    top: 480px; } }

@media (max-width: 1210px) {
  .nav-slides {
    display: none; }
  .part-3 {
    padding: 55px 0; }
  .cookie-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 45px;
    padding: 18px 15px; }
    .cookie-content li {
      padding-left: 10px; }
  .brand {
    display: inline-block;
    position: relative;
    margin-left: -18px; } }

@media (max-width: 1210px) {
  .welcome-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    margin-top: 300px; }
    .welcome-buttons .btn {
      margin-right: 0;
      margin-bottom: 15px;
      width: 260px; }
  .big-bear {
    width: 295px;
    position: relative;
    display: block;
    margin: 0 auto; }
  .cloud-welcome {
    background: url(../img/cloud-talk-small-text.png) no-repeat center;
    z-index: 11;
    width: 348px;
    height: 327px;
    top: 278px;
    left: calc(50% - 174px); }
  .part-1 {
    height: 790px; }
  .leafs-desktop {
    display: none; } }

@media (max-width: 1000px) {
  .brand-logo {
    width: 140px;
    height: 81px; }
  .burger {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 75px;
    height: 61px;
    margin: auto;
    background: url(../img/burger.svg) no-repeat center, #FF7F30 no-repeat;
    padding: 18px 18px 15px;
    border-bottom-left-radius: 19px;
    transition: none;
    z-index: 15;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .burger.active {
      background: url(../img/close.svg) no-repeat;
      background-size: cover;
      width: 36px;
      height: 36px;
      top: 21px;
      right: 21px;
      padding: 0;
      border-bottom-left-radius: 0;
      box-shadow: none; }
  .part-2-content {
    flex-direction: column; }
  .part-2 {
    height: auto;
    margin-top: -80px; }
    .part-2::before {
      height: 100%; }
  .part-2, .part-3, .part-4, .part-5 {
    padding-left: 15px;
    padding-right: 15px; }
  .big-bear {
    margin-top: 0; }
  .movie-desc {
    padding-left: 0;
    font-size: 16px;
    line-height: 19px; }
  .movie {
    margin-bottom: 30px; }
  .heading, .heading-part-4 {
    font-size: 28px;
    line-height: 37px; }
  .head-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 20%;
    margin: 0;
    background-color: #073592; }
    .head-nav a {
      width: 100%;
      border-bottom: 1px solid #fff;
      padding: 20px 0; }
      .head-nav a:last-of-type {
        border-bottom: none; }
    .head-nav.active {
      display: flex; }
    .head-nav .play {
      width: 145px;
      margin-top: 15px; }
  .header {
    padding-top: 0; }
  .cookie-info {
    margin-top: 20px; }
    .cookie-info .heading-border {
      font-size: 32px;
      line-height: 42px;
      padding: 0 15px; }
  .leaf-XL {
    width: 50px;
    height: 48px; }
  .leaf-L {
    width: 41px;
    height: 38px; }
  .leaf-M {
    width: 48px;
    height: 55px; }
  .leaf-S {
    width: 38px;
    height: 35px; }
  .leaf-mobile-1 {
    top: 47px;
    left: 60%; }
  .leaf-mobile-2 {
    top: 216px;
    left: 10%;
    transform: rotate(-130deg); }
  .leaf-mobile-3 {
    top: 280px;
    left: 64%; }
  .leaf-mobile-4 {
    top: 513px;
    left: 81%; }
  .leaf-mobile-5 {
    top: 40px;
    left: 15%;
    transform: rotate(299deg); }
  .leaf-mobile-6 {
    top: 88%;
    left: 87%;
    transform: rotate(180deg); }
  .leaf-mobile-7 {
    top: 92%;
    left: 77%;
    transform: rotate(180deg); }
  .leaf-mobile-8 {
    top: 91%;
    left: 80%;
    transform: rotate(-41deg); }
  .leaf-mobile-9 {
    left: 9%;
    top: 90%;
    transform: rotate(100deg); }
  .leaf-mobile-10 {
    top: 90%;
    left: 67%; }
  .leaf-mobile-11 {
    top: 94%;
    left: 86%;
    transform: rotate(-190deg); }
  .main-slider {
    width: 100%; }
  .card-desktop {
    display: none; }
  .card-mobile {
    display: block; } }

@media (max-width: 800px) {
  .main-slider .slick-prev, .main-slider .slick-next {
    width: 12px;
    height: 20px; }
  .main-slider {
    padding: 0 5px; }
    .main-slider .slick-prev {
      left: -12px; }
    .main-slider .slick-next {
      right: -12px; }
  .master-say {
    flex-direction: column; }
  .photo-outer {
    display: flex;
    align-items: center;
    justify-content: center; }
  .master-speech {
    padding-left: 0;
    margin-top: 50px; }
    .master-speech p {
      padding-right: 15px;
      font-size: 15px;
      line-height: 20px; }
  .name {
    margin-top: 40px; }
  .part-5 {
    margin-top: -65px; }
  .part-4 {
    margin-top: -85px; }
  .footer-list {
    flex-direction: column; }
    .footer-list a {
      margin-bottom: 22px; }
  .master-info {
    padding-left: 0; }
  .brand-footer {
    order: 1; }
  .cloud-top {
    top: 0; } }

@media (max-width: 360px) {
  .head-nav {
    padding-left: 10%;
    padding-right: 10%; } }

@media (min-width: 1000px) {
  .leafs-mobile {
    display: none; }
  .head-nav {
    margin-top: -2px; }
    .head-nav a {
      padding: 25px 25px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px; }
      .head-nav a:first-of-type {
        background-color: #3DBFE8; }
      .head-nav a:nth-child(2n) {
        background-color: #FF9E3E; }
      .head-nav a:nth-child(3n) {
        background-color: #E55303; }
      .head-nav a:last-of-type {
        background-color: #FF7F30; }
      .head-nav a:hover {
        text-decoration: underline; } }

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative; }

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important; }

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0; }

.scroll-element {
  display: none; }

.scroll-element, .scroll-element div {
  box-sizing: content-box; }

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block; }

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default; }

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999; }

.scroll-textarea > .scroll-content {
  overflow: hidden !important; }

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important; }

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0; }

/*************** SIMPLE INNER SCROLLBAR ***************/
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-inner > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%; }

.scrollbar-inner > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px; }

.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  border-radius: 8px; }

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4; }

.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #e0e0e0; }

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #c2c2c2; }

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #919191; }

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px; }

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px; }

/*************** SIMPLE OUTER SCROLLBAR ***************/
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-outer > .scroll-element {
  background-color: #ffffff; }

.scrollbar-outer > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px; }

.scrollbar-outer > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-outer > .scroll-element .scroll-element_track {
  background-color: #eeeeee; }

.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
  border-radius: 8px; }

.scrollbar-outer > .scroll-element .scroll-bar {
  background-color: #d9d9d9; }

.scrollbar-outer > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2; }

.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* scrollbar height/width & offset from container borders */
.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px; }

.scrollbar-outer > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px; }

/*************** SCROLLBAR MAC OS X ***************/
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-macosx > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-macosx > .scroll-element .scroll-element_track {
  display: none; }

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #6C6E71;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border-radius: 7px;
  transition: opacity 0.2s linear; }

.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-macosx > .scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%; }

.scrollbar-macosx > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
  height: 7px;
  min-width: 10px;
  top: -9px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 10px;
  width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {
  left: 2px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {
  top: 2px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

/*************** SCROLLBAR LIGHT ***************/
.scrollbar-light > .scroll-element,
.scrollbar-light > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-light > .scroll-element {
  background-color: #ffffff; }

.scrollbar-light > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-light > .scroll-element .scroll-element_outer {
  border-radius: 10px; }

.scrollbar-light > .scroll-element .scroll-element_size {
  background: #dbdbdb;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: linear-gradient(to right, #dbdbdb 0%, #e8e8e8 100%);
  border-radius: 10px; }

.scrollbar-light > .scroll-element.scroll-x {
  bottom: 0;
  height: 17px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-light > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 17px; }

.scrollbar-light > .scroll-element .scroll-bar {
  background: #fefefe;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: linear-gradient(to right, #fefefe 0%, #f5f5f5 100%);
  border: 1px solid #dbdbdb;
  border-radius: 10px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-light > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px; }

.scrollbar-light > .scroll-content.scroll-scrollx_visible {
  top: -17px;
  margin-top: 17px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 0px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-bar {
  left: 0px;
  min-height: 10px;
  width: 10px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-element_outer {
  height: 12px;
  left: 2px;
  top: 2px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  top: 2px;
  width: 12px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px; }

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px; }

.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px; }

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px; }

/*************** SCROLLBAR RAIL ***************/
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-rail > .scroll-element {
  background-color: #ffffff; }

.scrollbar-rail > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-rail > .scroll-element .scroll-element_size {
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.3); }

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.5); }

.scrollbar-rail > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  min-width: 100%;
  padding: 3px 0 2px;
  width: 100%; }

.scrollbar-rail > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  padding: 0 2px 0 3px;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-rail > .scroll-element .scroll-bar {
  background-color: #d0b9a0;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }

/* scrollbar height/width & offset from container borders */
.scrollbar-rail > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px; }

.scrollbar-rail > .scroll-content.scroll-scrollx_visible {
  margin-top: 17px;
  top: -17px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 1px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-bar {
  left: 1px;
  min-height: 10px;
  width: 10px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer {
  height: 15px;
  left: 5px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size {
  height: 2px;
  left: -10px;
  top: 5px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer {
  top: 5px;
  width: 15px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size {
  left: 5px;
  top: -10px;
  width: 2px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -25px; }

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -25px; }

.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -25px; }

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -25px; }

/*************** SCROLLBAR DYNAMIC ***************/
.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-dynamic > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-dynamic > .scroll-element.scroll-x {
  bottom: 2px;
  height: 7px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-dynamic > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 7px; }

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
  opacity: 0.3;
  border-radius: 12px; }

.scrollbar-dynamic > .scroll-element .scroll-element_size {
  background-color: #cccccc;
  opacity: 0;
  border-radius: 12px;
  transition: opacity 0.2s; }

.scrollbar-dynamic > .scroll-element .scroll-bar {
  background-color: #6c6e71;
  border-radius: 7px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
  bottom: 0;
  height: 7px;
  min-width: 24px;
  top: auto; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
  left: auto;
  min-height: 24px;
  right: 0;
  width: 7px; }

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
  bottom: 0;
  top: auto;
  left: 2px;
  transition: height 0.2s; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
  left: auto;
  right: 0;
  top: 2px;
  transition: width 0.2s; }

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

/* hover & drag */
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
  opacity: 1; }

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
  height: 100%;
  width: 100%;
  border-radius: 12px; }

.scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
  height: 20px;
  min-height: 7px; }

.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
  min-width: 7px;
  width: 20px; }

/*************** SCROLLBAR GOOGLE CHROME ***************/
.scrollbar-chrome > .scroll-element,
.scrollbar-chrome > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-chrome > .scroll-element {
  background-color: #ffffff; }

.scrollbar-chrome > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-chrome > .scroll-element .scroll-element_track {
  background: #f1f1f1;
  border: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-x {
  bottom: 0;
  height: 16px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-chrome > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 16px; }

.scrollbar-chrome > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
  border: 1px solid #bdbdbd;
  cursor: default;
  border-radius: 2px; }

.scrollbar-chrome > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
  border-color: #a9a9a9; }

.scrollbar-chrome > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
  border-color: #7e7e7e; }

/* scrollbar height/width & offset from container borders */
.scrollbar-chrome > .scroll-content.scroll-scrolly_visible {
  left: -16px;
  margin-left: 16px; }

.scrollbar-chrome > .scroll-content.scroll-scrollx_visible {
  top: -16px;
  margin-top: 16px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-bar {
  height: 8px;
  min-width: 10px;
  top: 3px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-bar {
  left: 3px;
  min-height: 10px;
  width: 8px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_outer {
  border-left: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_track {
  height: 14px;
  left: -3px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_size {
  height: 14px;
  left: -4px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_outer {
  border-top: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_track {
  top: -3px;
  width: 14px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
  width: 14px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px; }

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px; }

.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px; }

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px; }

/* Slick Slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-slider * {
  outline: none; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 0;
  z-index: 1; }

/**/
.slick-prev, .slick-next {
  background: url(../img/arrow.svg) no-repeat;
  background-size: contain;
  width: 32px;
  height: 52px; }

.slick-prev {
  transform: rotate(180deg);
  left: -47px; }

.slick-next {
  right: -47px; }

