@import 'variables';

/* Normalize styles */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

/*EXAMPLE SCROLLBAR ---------------------- */
body .scroll-element,
body .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
    bottom: 1px;
    height: 8px;
    left: 0;
    width: 100%;
}

.collection-list.scroll-wrapper>.scroll-content {
    padding-bottom: 10px;
}

body .collection-list .scroll-element.scroll-y {
    display: none;
}

body .scroll-element.scroll-x .scroll-element_track {
    top: 0;
    width: 100%;
    height: 8px;
}

body .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 6px;
}

body .scroll-element .scroll-element_outer {
    overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
    border-radius: 0;
}

body .scroll-element .scroll-element_track {
    background: $dark-blue;
    left: 0;
    width: 2px;
}

body .lk-block .scroll-element .scroll-element_track {
    background: #009DD7;
}

body .dark .scroll-element .scroll-element_track {
    background: #FFF9BD;
}

body .scroll-element .scroll-bar {
    height: auto;
    min-height: 10px;
    max-height: 150px;
    width: 8px;
    background: $dark-blue;
    box-shadow: none;
    left: -3px;
    position: relative;
}

body .lk-block .scroll-element .scroll-bar {
    background: #009DD7;
}

body .dark .scroll-element .scroll-bar {
    background: #FFF9BD;
}

body .scroll-element:hover .scroll-bar {
    
}

body .scroll-element.scroll-draggable .scroll-bar {
    
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

/**/