@font-face {
    font-family: 'SansRoundedLightC';
    src: url('../fonts//SansRoundedLightC.eot');
    src: url('../fonts//SansRoundedLightC.eot?#iefix') format('embedded-opentype'),
        url('../fonts//SansRoundedLightC.woff2') format('woff2'),
        url('../fonts//SansRoundedLightC.woff') format('woff'),
        url('../fonts//SansRoundedLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SansRoundedC';
    src: url('../fonts//SansRoundedC.eot');
    src: url('../fonts//SansRoundedC.eot?#iefix') format('embedded-opentype'),
        url('../fonts//SansRoundedC.woff2') format('woff2'),
        url('../fonts//SansRoundedC.woff') format('woff'),
        url('../fonts//SansRoundedC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RotondaC';
    src: url('../fonts/RotondaC-Bold.eot');
    src: url('../fonts/RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RotondaC-Bold.woff2') format('woff2'),
        url('../fonts/RotondaC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RotondaC';
    src: url('../fonts/RotondaC.eot');
    src: url('../fonts/RotondaC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RotondaC.woff2') format('woff2'),
        url('../fonts/RotondaC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}