@import 'variables';

body{
    font-family: RotondaC,  Helvetica, sans-serif;
    font-weight: bold;
}

.lettering-fix{
    letter-spacing: -1px;
}

.inner{
    max-width: 1206px;
    margin: 0 auto;
}

.header{
    position: relative;
    // padding-top: 20px;
    line-height: 0;
    font-size: 0;
    z-index: 25;
}

.part-1, .part-2, .part-3, .part-4, .part-5{
    position: relative;
}

.part-1{
    background: url(../img/bg-science.png) no-repeat center;
    background-size: cover;

    height: 615px; 
    overflow: hidden; // to hide the clouds & leafs

    &.cookie{
        height: auto !important;
    }
}

.part-2{
    margin-top: -50px;
    padding: 100px;
    height: 574px;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        min-height: 574px;
        background: url(../img/bg-blue-lines.png) center no-repeat;
        background-size: 100% 100%;
        
        z-index: 11;
    }
}

.part-4{
    margin-top: -60px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        min-height: 822px;
        height: 100%;
        background: url(../img/bg-science-rounded.png) center no-repeat;
        background-size: 100% 100%;
        z-index: 11;
    }
}

.part-2-content{
    position: relative;
    z-index: 15;
}

.head-nav{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 38%;

    a{
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: capitalize;
        padding: 5px 25px;
        color: #fff;
    }
}

.brand{
    position: absolute;
    left: 0;
    top: 0;
}

.brand-logo{
    width: 192px;
    height: 112px;
}

.btn{
    display: inline-block;
    
    border-radius: 19px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;

    &.small{
        padding: 4px 22px;
    }

    &.big{
        padding: 18px 0;
    }

    &.normal{
        background: $orange;
        box-shadow: 4px 4px 0px $orange-dark;
    }

    &.dark{
        background: $orange-dark;
        box-shadow: 4px 4px 0px $orange-dark-more;
    }

    &:hover{
        box-shadow: none;
    }

    &.cookie{
        color: #fff;
        transition: all .3s linear;
        padding: 18px;
    }
}

.cloud-top, .cloud-bot{
    position: absolute;
    z-index: 1;
}

.cloud-top{
    top: -60px;
    right: -10px;
}

.cloud-bot{
    bottom: 0;
    left: -10px;
}

.big-bear{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;

    width: 632px;

    filter: drop-shadow(0px 0px 64px rgba(255, 255, 255, 0.9));
}

.inner-part-1{
    height: 100%;
    position: relative;
}

.txt-mid-blue{
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: $dark-blue;
}

.cloud-welcome{
    z-index: 9;

    width: 765px;
    height: 371px;
    background: url(../img/cloud-talk-big-text.png) no-repeat center;
    background-size: cover;

    position: absolute;
    top: 100px;
    left: 455px;
}

.welcome-buttons{
    position: absolute;
    top: 480px;
    left: 680px; 
    z-index: 20;
    
    .btn{
        color: #fff;
        width: 226px;

        margin-right: 23px;

        &:last-of-type{
            margin-right: 0;
        }
    }
}

.movie-desc{
    font-weight: normal;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}


.part-2-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.movie, .movie-desc{
    flex-basis: 50%;
}

.movie{
    border-radius: 19px;
    overflow: hidden;
    box-shadow: 0px 0px 64px rgba(255, 255, 255, 0.3);
    width: 100%;
}

.movie-desc{
    padding-left: 65px;
}


.part-3{
    margin-top: -50px;
    background: url(../img/bg-wood.png) center repeat-y;
    // background-size: cover;
    z-index: 5;

    padding: 120px 0;
}

.heading{
    font-size: 42px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
    color: $dark-blue;

}

.slider, .nav-slides{
    .item{
        border-radius: 19px;
        overflow: hidden;
    }
        
}

.main-slider{
    margin: 50px auto;
    filter: drop-shadow(2px 4px 14px rgba(0, 0, 0, 0.35));
    cursor: pointer;

    width: 85%;
}

.nav-slides{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .item{
        width: 186px;
        height: 102px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 19px;

        box-sizing: content-box;
        border: 6px solid transparent;
        cursor: pointer;
        user-select: none;
        transition: all .2s linear;

        &.active{
            border: 6px solid $orange;
            filter: drop-shadow(0px 4px 4px rgba(255, 127, 48, 0.25));
        }
    }
}

.fake{
    height: 1px;
    pointer-events: none;
}

.heading-border{
    font-size: 42px;
    line-height: 55px;
    text-align: center;

    
    color: #fff;


    text-shadow: 4px 4px 2px $dark-blue, 
        4px -4px 2px $dark-blue, 
        -4px 4px 2px $dark-blue, 
        -4px -4px 2px $dark-blue, 
        4px 0px 2px $dark-blue, 
        0px 4px 2px $dark-blue, 
        -4px 0px 2px $dark-blue, 
        0px -4px 2px $dark-blue;
}

.part-4{
    padding: 50px 0;
}

.part-4-content{
    position: relative;
    z-index: 15;
    padding: 80px 0;
}

.master-say{
    display: flex;
    flex-direction: row;
    margin-top: 75px;
}

.master-info{
    flex-basis: 31%;
}

.master-speech{
    flex-basis: 69%;
    padding-left: 87px;

    p{
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: $dark-blue;
        padding-right: 42px;
        margin-bottom: 10px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    .curs, .strong{
        font-weight: bold;
    }

    .speech-txt{
        max-height: 430px;
        padding-right: 8px;
    }
}

.photo-frame{
    background-image: url(../img/photo-frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(-6deg);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 321px;
    height: 321px;

    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));

    img{
        width: 100%;
        max-width: 100%;
        padding: 16px;
    }
}

.name, .rank{
    color: $dark-blue;
    text-align: center;
}

.name{
    font-size: 28px;
    line-height: 37px;
    margin: 35px 0 24px;
}

.rank{
    font-size: 16px;
    line-height: 21px;
}

.part-5{
    background-color: $dark-blue;
    color: #fff;
    font-weight: normal;
    margin-top: -50px;
    padding: 40px 0 36px;

    &.cookie{
        margin-top: 0 !important;
    }
}

.group-info{
    font-size: 10px;
    line-height: 12px;
    text-align: center;

}

.footer-link{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    margin: 0 14px;
}

.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    position: relative;
}

.leaf{
    position: absolute;
    z-index: 18;
    background-size: cover !important;
}

.leaf-XL{
    background: url(../img/leaf-XL.svg) no-repeat center;
    width: 128px;
    height: 122px;
}

.leaf-L{
    background: url(../img/leaf-L.svg) no-repeat center;
    width: 114px;
    height: 115px;
}

.leaf-M{
    background: url(../img/leaf-M.svg) no-repeat center;
    width: 114px;
    height: 125px;
}

.leaf-S{
    background: url(../img/leaf-S.svg) no-repeat center;
    width: 69px;
    height: 71px;
}

.cookie-info{
    margin: 130px 0;

    .heading-border{
        text-transform: uppercase;
    }
}

.cookie-content{
    border-radius: 20px;
    background-color: #ccf3f0;
    padding: 70px 45px;
    margin-top: 60px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $dark-blue;

    p{
        margin-bottom: 30px;
    }

    ul{
        list-style-type: disc;
        margin-bottom: 30px;
    }

    li{
        padding-left: 30px;
        margin: 0 0 30px 20px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    img{
        margin-bottom: 30px;
    }
}

.photo-outer{
    padding: 0 5px;
}

.leaf-desktop-1{
    top: 60px;
    left: 82%;
}

.leaf-desktop-2{
    top: 86px;
    left: 41%;
}

.leaf-desktop-3{
    top: 362px;
    left: 89%;
}

.leaf-desktop-4{
    top: 83%;
    left: 80%;
    transform: rotate(144deg);
}

.leaf-desktop-5{
    top: 81%;
    left: 22%;
    transform: rotate(130deg);
}

.leaf-desktop-6{
    top: 90%;
    left: 10%;
    transform: rotate(130deg);
}

.leaf-desktop-7{
    left: 88%;
    top: -35px;
    transform: rotate(-25deg);  
}

.leaf-desktop-8{
    left: 78%;
    top: 10px;
    transform: rotate(-29deg);
}

.leaf-desktop-9{
    left: 87%;
    top: 75px;
    transform: rotate(110deg);
}

.leaf-desktop-10{
    top: 10px;
    left: 10%;
    transform: rotate(150deg);
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fake-block{
    height: 1px;
}

.card-mobile{
    display: none;
}