.youtube-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.youtube {
	background-color: #000;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}

.youtube:hover .play-button{
	// background-color: #d20000;
	opacity: 1;
}

.youtube img {
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.youtube .play-button {
	background: url(../img/button-play.svg) center no-repeat;
	width: 105px;
	height: 106px;
	// background-color: #333;
	// box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 0.8;
	// border-radius: 16px;
	top: calc(50% - 52px);
	left: calc(50% - 52px);
	transition: all .3s linear;
}

// .youtube .play-button:before {
// 	content: "";
// 	border-style: solid;
// 	border-width: 15px 0 15px 26.0px;
// 	border-color: transparent transparent transparent #fff;
// }

.youtube img,
.youtube .play-button {
	cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}

// .youtube .play-button,
// .youtube .play-button:before {
// 	top: 50%;
// 	left: 50%;
// 	transform: translate3d( -50%, -50%, 0 );
// }

.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}