@import 'variables';

@media (max-width: 1366px){
    .main-slider{
        padding: 0 45px;

        .slick-prev, .slick-next{
            width: 16px;
            height: 26px;
        }

        .slick-prev{
            left: 15px;
        }

        .slick-next{
            right: 15px;
        }
    }

    .part-2::before, .part-4::before{
        background-size: cover;
    }
}
// max-width: 1366px

@media (max-width: 1270px){
    .master-info{
        padding-left: 25px;
    }

    .big-bear{
        width: 490px;
    }

    .cloud-welcome{
        top: 150px;
        left: 315px;
    }

    .welcome-buttons{
        left: 520px;
        top: 480px;
    }
}
// max-width: 1270px

@media (max-width: 1210px){
    .nav-slides{
        display: none;
    }

    .part-3{
        padding: 55px 0;
    }

    .cookie-content{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 45px;

        padding: 18px 15px;

        li{
            padding-left: 10px;
        }
    }
    
    .brand{
        display: inline-block;
        position: relative;
        margin-left: -18px;
    }
}
// max-width: 1210px

@media (max-width: 1210px){
    .welcome-buttons{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 0;
        top: 0;
        margin-top: 300px;

        .btn{
            margin-right: 0;
            margin-bottom: 15px;
            width: 260px;
        }
    }

    .big-bear{
        width: 295px;
        position: relative;
        display: block;
        margin: 0 auto;
    }

    .cloud-welcome{
        background: url(../img/cloud-talk-small-text.png) no-repeat center;
        z-index: 11;
        width: 348px;
        height: 327px;  
        top: 278px;
        left: calc(50% - 174px);
    }

    .part-1{
        height: 790px;
    }
    
    .leafs-desktop{
        display: none;
    }
}
// max-width: 1080px

@media (max-width: 1000px){
    .brand-logo{
        width: 140px;
        height: 81px;
    }

    .burger{
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 75px;
        height: 61px;
        margin: auto;
        background: url(../img/burger.svg) no-repeat center, $orange no-repeat;
        padding: 18px 18px 15px;
        border-bottom-left-radius: 19px;
        
        transition: none;
        z-index: 15;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &.active{
            background: url(../img/close.svg) no-repeat;
            background-size: cover;  
            width: 36px;
            height: 36px;
            top: 21px;
            right: 21px;
            padding: 0;
            border-bottom-left-radius: 0;

            box-shadow: none;
        }
    }

    .part-2-content{
        flex-direction: column;
    }

    .part-2{
        height: auto;
        margin-top: -80px;
        &::before{
            height: 100%;

        }
    }

    .part-2, .part-3, .part-4, .part-5{
        padding-left: 15px;
        padding-right: 15px;
    }

    .big-bear{
        margin-top: 0;
    }

    .movie-desc{
        padding-left: 0;
        font-size: 16px;
        line-height: 19px;
    }

    .movie{
        margin-bottom: 30px;
    }

    .heading, .heading-part-4{
        font-size: 28px;
        line-height: 37px;
    }

    .head-nav{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px 20%;
        margin: 0;

        background-color: $dark-blue;
        
        a{
            width: 100%;
            border-bottom: 1px solid #fff;
            padding: 20px 0;

            &:last-of-type{
                border-bottom: none;
            }
        }

        &.active{
            display: flex;
        }

        .play{
            width: 145px;
            margin-top: 15px;
        }
    }

    .header{
        padding-top: 0;
    }

    .cookie-info{
        margin-top: 20px;

        .heading-border{
            font-size: 32px;
            line-height: 42px;
            padding: 0 15px;
        }
    }

    .leaf-XL{
        width: 50px;
        height: 48px;
    }
    
    .leaf-L{
        width: 41px;
        height: 38px;
    }
    
    .leaf-M{
        width: 48px;
        height: 55px;
    }
    
    .leaf-S{
        width: 38px;
        height: 35px;
    }
    
    .leaf-mobile-1{
        top: 47px;
        left: 60%;
    }

    .leaf-mobile-2{
        top: 216px;
        left: 10%;
        transform: rotate(-130deg);
    }

    .leaf-mobile-3{
        top: 280px;
        left: 64%;
    }

    .leaf-mobile-4{
        top: 513px;
        left: 81%;
    }

    .leaf-mobile-5{
        top: 40px;
        left: 15%;
        transform: rotate(299deg);
    }

    .leaf-mobile-6{
        top: 88%;
        left: 87%;
        transform: rotate(180deg);
    }

    .leaf-mobile-7{
        top: 92%;
        left: 77%;
        transform: rotate(180deg);
    }

    .leaf-mobile-8{
        top: 91%;
        left: 80%;
        transform: rotate(-41deg);
    }

    .leaf-mobile-9{
        left: 9%;
        top: 90%;
        transform: rotate(100deg);
    }

    .leaf-mobile-10{
        top: 90%;
        left: 67%;
    }

    .leaf-mobile-11{
        top: 94%;
        left: 86%;
        transform: rotate(-190deg);
    }

    .main-slider{
        width: 100%;
    }

    .card-desktop{
        display: none;
    }

    .card-mobile{
        display: block;
    }
}
// max-width: 1000px

@media (max-width: 800px){
    .main-slider{
        .slick-prev, .slick-next{
            width: 12px;
            height: 20px;
        }
    }

    .main-slider{
        padding: 0 5px;

        .slick-prev{
            left: -12px;
        }

        .slick-next{
            right: -12px;
        }
    }

    .master-say{
        flex-direction: column;
    }

    .photo-outer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .master-speech{
        padding-left: 0;
        margin-top: 50px;

        p{
            padding-right: 15px;
            font-size: 15px;
            line-height: 20px;
        }
    }

    .name{
        margin-top: 40px;
    }

    .part-5{
        margin-top: -65px;
    }

    .part-4{
        margin-top: -85px;
    }

    .footer-list{
        flex-direction: column;

        a{
            margin-bottom: 22px;
        }
    }

    .master-info{
        padding-left: 0;
    }

    .brand-footer{
        order: 1;
    }

    .cloud-top{
        top: 0;
    }
}
// max-width: 800px

@media (max-width: 360px){
    .head-nav{
        padding-left: 10%;
        padding-right: 10%;
    }
}
// max-width: 360px

@media (min-width: 1000px){
    .leafs-mobile{
        display: none;
    }

    .head-nav{
        margin-top: -2px;

        a{
            padding: 25px 25px 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;
            
            &:first-of-type{
                background-color: #3DBFE8;
            }

            &:nth-child(2n){
                background-color: #FF9E3E;
            }

            &:nth-child(3n){
                background-color: $orange-dark;
            }

            &:last-of-type{
                background-color: #FF7F30;
            }

            &:hover{
                text-decoration: underline;

            }
        }
    }
}
// min-width: 1000px
